## Working with JSON Files
You can hanlde JSON files directly with Pandas, using the  `read_json()` method

In [4]:
import pandas as pd
path_to_json = "../data/example-1.json"
# Load JSON file into DataFrame
df_json_data = pd.read_json(path_to_json)
# Display DataFrame
df_json_data

   Column 1  Column 2
0         1         2
1         3         4
2         5         6

In [5]:
# Convert dataframe to JSON
json_format = df_json_data.to_json()
json_format

'{"Column 1":{"0":1,"1":3,"2":5},"Column 2":{"0":2,"1":4,"2":6}}'

## Working with CSV Files

With pandas you can work with CSV files using the  `read_csv()` method

In [6]:
path_to_csv = "../data/example-1.csv"
# Load the CSV file into the DataFrame
csv_df = pd.read_csv(path_to_csv)
# Display it
csv_df

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

# What if the csv file doesn't have a header?

It converts the first record as the header of the DataFrame

In [7]:
path_to_csv = "../data/example-2.csv"
no_header_csv_df = pd.read_csv(path_to_csv)
no_header_csv_df

   Branch A  January 1  500.00
0  Branch B  January 2   250.0
1  Branch A  January 3   300.0

To get around this pass the `header=None` property of the `read_csv()` method

In [8]:
no_header_csv_df = pd.read_csv(path_to_csv, header=None)
no_header_csv_df

          0          1      2
0  Branch A  January 1  500.0
1  Branch B  January 2  250.0
2  Branch A  January 3  300.0

In [10]:
# Save the data back to csv file
# IF you do not need the index info use index=None
no_header_csv_df.to_csv('test.csv', index=None)